* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color_dark_blue: #516BEB;
    --color_light_blue: #84DFFF;
    --color_beige: #F8F2B3;
    --color_pink: #F0D9F5;
}
body{
    position: relative;
    animation: open 1.5s ease-in-out 0s 1 forwards;
}
body.exit{
    animation: goToForms 1.5s ease-in-out 0s 1 forwards;
}
html {
    font-size: 16px;
}

header {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75vw;
    font-family: 'Karla', sans-serif;
    text-align: center;
    border-bottom-color: var(--color_pink);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

header h1 {
    font-weight: 800;
    font-size: 2.5rem;
}

header strong {
    font-weight: 700;
    font-family: 'Lora', serif;
}

header div.buttons.desktop {
    display: none;
    max-height: 65px;
}

main {
    max-width: 800px;
    font-family: 'Karla', sans-serif;
    padding-top: 30%;
    text-align: center;
    width: 95vw;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

main div.center {
    text-align: left;
    width: 85%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    max-height: 800px;
}
main div.center div.graph{
    z-index: -1;
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    top: 50%;
    transform: translate(-50%,-35%);
    left: 50%;
    border-color: grey;
    opacity: 0.7;
    border-width: 2px;
    border-style: dashed;
    height: 80vw;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}
main div.center div.graph div.bar{
    flex-basis: 20%;
    background-color: var(--color_dark_blue);
    opacity: 0.67;
    height: 50%;
    align-self: flex-end;
    animation-name: graph_bars;
    animation-play-state: running;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
}
main div.center div.graph div.bar:nth-of-type(1){
    background-color: var(--color_pink);
    opacity: 0.8;
    height: 85%;
    animation-duration: 3s;
}
main div.center div.graph div.bar:nth-of-type(2){
    background-color: var(--color_beige);
    height: 55%;
}
main div.center div.graph div.bar:nth-of-type(3){
    background-color: var(--color_light_blue);
    height: 75%;
    animation-duration: 1.5s;
}
main div.center div.graph div.bar:nth-of-type(4){
    height: 45%;
}
main div.center div.steps h2 {
    position: relative;
    margin-bottom: 5%;
    font-size: 1.7rem;
    animation-name: scale_Y;
    transform: scaleY(0);
    animation-play-state: running;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
main div.center div.steps h2:nth-of-type(2){
    animation-duration: 1.3s;
}
main div.center div.steps h2:nth-of-type(4){
    animation-duration: 1.6s;
    font-family: 'Lora', serif;
}
main div.center div.steps h2 strong{
    font-family: 'Karla', sans-serif;
}
main div.center div.steps h2::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 5%;
    left: -5%;
    background-color: var(--color_pink);
    height: 110%;
    width: 75%;
    opacity: 0.67;
    transform: scale(0);
    animation-name: slide_from_left;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-delay: 0.9s;
}
main div.center div.steps h2 strong{
    font-weight: 800;
}
main div.center div.steps h2:nth-of-type(1)::after{
    left: -8%;
}
main div.center div.steps h2:nth-of-type(2)::after {
    background-color: var(--color_light_blue);
    width: 90%;
    animation-duration: 1.5s;
}

main div.center div.steps h2:nth-of-type(4)::after {
    background-color: var(--color_dark_blue);
    width: 70%;
    animation-duration: 1.7s;
}

main div.center div.steps h2.exp {
    text-align: right;
}

main div.center div.steps h2.exp::after {
    background-color: var(--color_light_blue);
    width: 46%;
    left: 55%;
}

main div.buttons.mobile {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%);
    width: 49%;
}
main div.buttons.mobile div.button{
    outline: none;
    color: white;
    cursor: pointer;
    margin-bottom: 0.5rem;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    line-height: 225%;
    background-color: var(--color_light_blue);
    transition: 0.2s ease-in-out;
}
main div.buttons.mobile div.button:hover{
    transition: 0.2s ease-in-out;
    transform: translateY(-10%);
    color: black;
}
main div.buttons.mobile div.button:nth-of-type(2){
    background-color: var(--color_dark_blue);
    font-weight: 800;
}
@keyframes graph_bars{
    from{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(1.3);
    }
}
@keyframes slide_from_left{
    from{
        transform-origin: left;
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes scale_Y{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes movementY{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-5%);
    }
    from{
        transform:translateY(2%);
    }
}
@keyframes goToForms{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(2%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes open{
    0%{
        transform: translateX(-100%);
    }
    90%{
        transform: translateX(2%);
    }
    100%{
        transform: translateX(0);
    }
}
@media(min-width:640px){
    html{
        font-size: 24px;
    }
    main{
        padding-top: 20%;
    }
    main div.center div.steps h2{
        font-size: 2rem;
    }
    main div.center div.steps h2:nth-of-type(1)::after{
        width: 65%;
        left: -8%;
    }
    main div.center div.steps h2:nth-of-type(2)::after {
        background-color: var(--color_light_blue);
        width: 75%;
        animation-duration: 1.5s;
    }
    main div.center div.steps h2.exp {
        text-align: right;
        margin-right: 10%;
    }
    main div.center div.steps h2:nth-of-type(3)::after {
        width: 50%;
        left: 55%;
    }
    main div.center div.steps h2:nth-of-type(4)::after {
        width: 60%;
    }
}
@media(min-width:1024px) and (orientation:portrait){
    main{
        padding-top: 20vh;
    }
    header h1{
        font-size:3.5rem;
    }
    main div.center div.steps h2{
        font-size: 2.5rem;
    }
    main div.buttons.mobile div.button{
        font-size: 1.7rem;
    }
    main div.center div.steps h2:nth-of-type(1)::after{
        width: 75%;
        left: -6%;
    }
    main div.center div.steps h2:nth-of-type(2)::after {
        width: 85%;
    }
    main div.center div.steps h2:nth-of-type(4)::after {
        width: 70%;
    }
}
@media(min-width:1024px)and (orientation:landscape){
    main div.buttons.mobile{
        display: none;
    }
    main{
        padding-top: 20vh;
    }
    header{
        height: 10vh;
        display: flex;
        width: 90%;
        max-width: 950px;
        justify-content: space-between;
        margin-top: 1%;
        position: relative;
    }
    header h1{
        font-size: 2.2rem;
        flex-basis: 20%;
        position: relative;
        align-self: center;
    }
    header div.buttons.desktop{
        display: block;
        outline: none;
        color: white;
        font-size: 0.9rem;
        transition: 0.2s ease-in-out;
        flex-basis: 30%;
        display: flex;
        align-self: center;
        justify-content: space-between;
        height: 80%;
    }
    header div.buttons.desktop div.button{
        flex-basis: 48%;
        background-color: var(--color_light_blue);
        margin-bottom: 0.5rem;
        border-radius: 1.2rem;
        height: 90%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        /* position: relative;
        top: 50%;
        transform: translateY(-50%); */
        transition: 0.2s ease-in-out;
    }
    header div.buttons.desktop div.button:hover{
        transition: 0.2s ease-in-out;
        transform: translateY(-5%);
        color: black;
    }
    
    header div.buttons.desktop div.button:nth-of-type(2){
        background-color: var(--color_dark_blue);
    }
    header div.buttons.desktop div.button p{
        align-self: center;
    }
}